---
// Style imports
import "@style/tailwind.css"

// Props
export interface Props {
	/** Title of the page. */
	title: string

	/** Specific OpenGraph page title. */
	ogTitle?: string

	/** Description of the page. */
	description?: string

	/** Image thumbnail for the page. */
	image?: {
		url: string
		alt: string
	}

	/** Whether or not to disable indexing */
	disableIndexing?: boolean
}

const {
	title,
	ogTitle,
	description,
	image,
	disableIndexing = false
} = Astro.props as Props
---

<div class="Notifications">
	<style lang="scss">
		body{
			padding-top: 50px;;
		}
		.bannerNotification{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			background-color: #be2bbb;
			color: #fff;
			height: 50px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			justify-content: center;
			.container{
				
			}
			p{
				text-align: center;
			}
		}
		.toastNotification{

		}
	</style>

	<div class="bannerNotification">
		<div class="container">
			<p>[Banner Notification Title] - [Banner notification body]</p>
		</div>
	</div>

	<div class="toastNotification">
		
	</div>
</div>
