---
import { Layout } from "@globals"
import { PostCategoryFeed } from "@component/posts"
import { PostPreviewFeed } from "@component/posts"

import PostPreviewList from '@component/PostComponents/PostPreviewList.astro'
import Paginator from '@component/PostComponents/Paginator.astro'
//import { PAGE_SIZE } from '$/config'

let title = 'Blog'
let description = 'All the articles posted so far...'

export async function getStaticPaths({ paginate }) {
  const allPosts = await Astro.glob('./*.md');

  const sortedPosts = allPosts.sort((a, b) => 
    Math.floor(new Date(b.frontmatter.datetime).getTime() / 1000) -
    Math.floor(new Date(a.frontmatter.datetime).getTime() / 1000)
  );

    return paginate(sortedPosts, {
      pageSize: 4 //PAGE_SIZE
    })
}

const { page } = Astro.props
---
<Layout>
    <section>
      <div class="container">
        <PostCategoryFeed/>
      </div>
    </section>
    
    <div class="container">
      <hr/>
    </div>
    
    <section>
      <div class="container">
        
        <PostPreviewFeed posts={page.data} />
        <Paginator page={page} />

      </div>
    </section>

    
</Layout>
