---
//Components
import { PostCategory } from "@component/posts"

---

<div class="PostCategories">
	
	<style lang="scss">
		@import "/src/styles/vars.module.scss";
		.PostCategories{
			.categories{
				display: flex;
				align-items: stretch;
				flex-wrap: wrap;
			}
		}
	</style>

	<div class="categories">
		
		<PostCategory
			name="General Program Materials"
			description="description copy"
			link="general-program-materials"
		/>

		<PostCategory
			name="Commence Rx"
			description="description copy"
			link="commence-rx"
		/>

		<PostCategory
			name="LASH Training, Call Guides, IVRs, etc."
			description="description copy"
			link="misc"
		/>

		<PostCategory
			name="iARMs Materials and Training"
			description="description copy"
			link="iarms"
		/>

		<PostCategory
			name="Copay"
			description="description copy"
			link="copay"
		/>

	</div>
</div>
