---
//Components
import { PostCategory } from "@component/posts"

// Style imports
import "@style/tailwind.css"

// Props
export interface Props {
	/** Title of the page. */
	title: string

	/** Specific OpenGraph page title. */
	ogTitle?: string

	/** Description of the page. */
	description?: string

	/** Image thumbnail for the page. */
	image?: {
		url: string
		alt: string
	}

	/** Whether or not to disable indexing */
	disableIndexing?: boolean
}

const {
	title,
	ogTitle,
	description,
	image,
	disableIndexing = false
} = Astro.props as Props
---

<div class="PostCategories">
	
	<style lang="scss">
		@import "/src/styles/vars.module.scss";
		.PostCategories{
			.categories{
				display: flex;
				align-items: flex-start;
				flex-wrap: wrap;
			}
		}
	</style>

	<div class="categories">
		
		<PostCategory
			name="General Program Materials"
			subText="subText copy"
			link="general-program-materials"
		/>

		<PostCategory
			name="Commence Rx"
			subText="subText copy"
			link="commence-rx"
		/>

		<PostCategory
			name="LASH Training, Call Guides, IVRs, etc."
			subText="subText copy"
			link="misc"
		/>

		<PostCategory
			name="iARMs Materials and Training"
			subText="subText copy"
			link="iarms"
		/>

		<PostCategory
			name="Copay"
			subText="subText copy"
			link="copay"
		/>

	</div>
</div>
