---
//Components
import { PostCategory } from "@component/posts"

// Style imports
import "@style/tailwind.css"

// Props
export interface Props {
	/** Title of the page. */
	title: string

	/** Specific OpenGraph page title. */
	ogTitle?: string

	/** Description of the page. */
	description?: string

	/** Image thumbnail for the page. */
	image?: {
		url: string
		alt: string
	}

	/** Whether or not to disable indexing */
	disableIndexing?: boolean
}

const {
	title,
	ogTitle,
	description,
	image,
	disableIndexing = false
} = Astro.props as Props
---

<div class="PostCategories">
	<style lang="scss">
		.PostCategories{
			.categories{
				display: flex;
				flex-wrap: wrap;
			}

			.cellWrapper{
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 25%;
				padding: 25px;
			}

			.cell{
				width: 100%;
				max-width: 350px;
				border: solid 2px #212121;
			}
		}
	</style>

	<div class="categories">
		
		<PostCategory
			name="Category 1"
			subText="subText copy"
			link="category-name"
		/>

		<PostCategory
			name="Category 2"
			subText="subText copy"
			link="category-name"
		/>

		<PostCategory
			name="Category 3"
			subText="subText copy"
			link="category-name"
		/>

		<PostCategory
			name="Category 4"
			subText="subText copy"
			link="category-name"
		/>

		<PostCategory
			name="Category 1"
			subText="subText copy"
			link="category-name"
		/>

		<PostCategory
			name="Category 2"
			subText="subText copy"
			link="category-name"
		/>

		<PostCategory
			name="Category 3"
			subText="subText copy"
			link="category-name"
		/>

		<PostCategory
			name="Category 4"
			subText="subText copy"
			link="category-name"
		/>

	</div>
</div>
