---
// Style imports
import "@style/tailwind.css"

// Props
export interface Props {
	name?: string
	subText?: string
	link?: string
}

const {
	name,
	subText,
	link
} = Astro.props as Props
---

<style lang="scss">
	.cellWrapper{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 25%;
		padding: 25px;
	}

	.cell{
		width: 100%;
		max-width: 350px;
		border: solid 2px #212121;
	}
</style>

<div class="cellWrapper">
	<div class="cell">
		<p>{name}</p>
		<p>{subText}</p>
		<a href={link} >{link}</a>
	</div>
</div>
