---
// Component imports
import { Layout } from "@globals"

let frontmatter = Astro.props.frontmatter
---

<style lang="scss">
	.PostLayout{
		padding-top: 50px;
		display: flex;
		.cell{
			width: 50%;
		}
	}
</style>

<Layout title={frontmatter.title} >
	<div class="container breadcrumbs">
		<a href="/">
                Home
            </a>
		<span>&nbsp;>&nbsp;</span>
		<a href="/resources">
                Resources
            </a>
		<span>&nbsp;>&nbsp;</span>
		<a href={"/resources?category=" + frontmatter.category}>
                {frontmatter.category}
            </a>
	</div>

	<article class="container PostLayout">
		<div class="cell">
			<div class="inner">
				[Document Download]
			</div>
		</div>
		<div class="cell">
			<slot />
		</div>
	</article>
	
</Layout>

