---
import { PostPreview } from "@component/posts"
const { posts } = Astro.props
const sortedPosts = posts.sort((a, b) => new Date(b.date) - new Date(a.date));
---

<style lang="scss">
    @import "/src/styles/vars.module.scss";
    .PostPreviewFeed{
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
    }
</style>

<div class="PostPreviewFeed">
   {sortedPosts.map((post) => (
        <PostPreview post={post}/>
    ))}
</div>